.detailsHeader{
    overflow: hidden;
    overflow-x: auto;
}

.detailsHeader::-webkit-scrollbar {

    width: 5px;
    height: 3px;
}

.detailsHeader::-webkit-scrollbar-track {

    background-color: transparent;
    border-radius: 100px;
}

.detailsHeader::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 0px solid transparent;
    background: linear-gradient(90deg, #ffb79d, rgb(218, 26, 26));
}