@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

.navb_left {
    height: 40px;
    width: auto;
    margin: 10px;
    float: left;
}

.navb_right {
    height: 40px;
    width: auto;
    margin: 10px;
    float: right;
}

.notiName{
    height: 15px;
    width: auto;
    margin: 0px;
    font-size: x-large; 
}

.faq-row{
    margin: 0px;  
    border-bottom: 0px solid #630000 !important 
}
.row-title-text{
    color: #630000;
    margin-left: 15px;    
}

.row-content-text{
    margin-left: 7px;
    margin-right: 5px;
    border-bottom: 1px solid #d38484 !important
}


.row-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background: #ffffff;
    border-bottom: 3px solid #d38484;
}

.row-title:hover {    
    background-color:#d1d1d1;
    border-color: #9f3c3c;
    outline: none;
    background: transparent;
    border-bottom: 3px solid #972c2c;    
    -webkit-transition: all 0.35s ease;
    transition: all 0.5s ease;
}

.row-title:hover > .row-title-text{
    color: #630000;
}

.ant-drawer-header{
    background: #9f3c3c
}

hr {
    margin-top: 0px;
    clear: both;
    color: #c50000;
    border: 1px solid #c50000;
}